/* 전역 설정 */
body {
  background-color: rgba(198, 212, 223);
}

.chat-title {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

/* 버튼 */
button {
  padding: 10px 15px;
  background-color: rgba(204, 204, 204);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(158, 158, 158);
}

/* 채팅 입력창 */
.chat-input {
  display: flex;
  align-items: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.chat-input input {
  flex: 1;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#message-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
}

/* 채팅 내용 창 */
.chat-container {
  display: flex;
  flex-direction: column-reverse;
  height: calc(
    100vh - 80px
  ); /* 화면의 높이에서 입력창과 헤더 부분을 제외한 높이 */
  overflow-y: auto;
}

.chat-message {
  margin: 10px;
}

.chat-friendProfile {
  display: flex;
  align-items: flex-start;
  margin: 10px; /* 여백 추가 */
}

.friend__profile-img {
  width: 50px; /* 프로필 사진의 크기 설정 */
  height: 50px; /* 프로필 사진의 크기 설정 */
  border-radius: 38%; /* 둥근 프로필 사진 */
  margin-right: 5px; /* 프로필 사진과 메시지 간의 간격 */
}

/* 메시지 스타일 */
.you {
  align-self: flex-start;
}

.me {
  align-self: flex-end;
  text-align: right;
}

.chat-name {
  padding-bottom: 5px;
}

.message {
  padding: 10px;
  border-radius: 8px;
  max-width: 90%;
  display: inline-block;
}

.you .message {
  background-color: white;
  color: #000;
}

.me .message {
  background-color: rgba(253, 229, 0);
  color: #000;
}

/* 타임스탬프 */
.time {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

/* 아이콘 */
.icon {
  width: 24px;
  height: 24px;
  color: #333;
}

.size-5 {
  width: 24px; /* SVG 뷰박스 크기와 일치시킴 */
  height: 24px; /* SVG 뷰박스 크기와 일치시킴 */
}

/* 백 버튼 */
.back-button {
  margin-right: 10px;
}
