body {
  padding-top: 75px; /* 고정된 header와 겹치는 것을 방지 */
  padding-bottom: 75px; /* 고정된 bottom-tabs와 겹치는 것을 방지 */
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /*프로필 사진창관련*/
  .friend .friend__profile {
    width: 50px;
    height: 50px;
    border-radius: 38%; /* 프로필 이미지의 모서리를 둥글게 */
    margin-top: 10px; 
    margin-bottom: 10px;
  }

  .friend__profile {
    width: 50px;
    height: 50px;
  }
  
  .friend .friend__column {
    display: flex;
    align-items: center;
  }
  
  .friend__column .friend__profile {
    margin-right: 20px;
  }
  
  /* 친구이름-상태창 */
  .friend__content .friend__name {
    display: flex;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 500;
  }

  .friend__content {
    font-size: 14px;
  }
  
  .friend__content .friend__status {
    font-size: 12px;
  }

  .friends__star, .friends__channel, .friends__brithday {
    border-bottom: 1px solid #e0e0e0; /* 하단 경계선 */
    padding-bottom: 10px;
    margin-bottom: 20px; 
  }
  
  /*각 상태별 친구 이름 및 아이콘 조정*/
  .friends__pongheader{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .friends__pongheader svg { /*아이콘 사이즈 지정*/
    width: 30px;
  }

  /*하단 nav 조정*/
  .bottom-tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    display: flex; 
    justify-content: center; /* 전체 버튼들을 수평 중앙으로 정렬 */
    align-items: center;
    padding: 10px 0; 
}

/*버튼에 대한 수정*/
.bottom-tabs button {
    flex-grow: 1; /* 버튼 간의 간격을 동일하게 유지 */
    text-align: center; 
}

.bottom-tabs a {
    display: flex;
    flex-direction: column; /* 아이콘과 텍스트를 세로로 배치 */
    align-items: center;
    text-decoration: none; 
    color: black; 
}
